# Basic configuration
user nginx;
worker_processes auto;
pcre_jit on;
error_log /dev/stderr notice;
pid /var/run/nginx.pid;
load_module "modules/ngx_mail_module.so";

events {
    worker_connections 1024;
}

http {
    # Standard HTTP configuration with slight hardening
    include /etc/nginx/mime.types;
    default_type application/octet-stream;
    sendfile on;
    keepalive_timeout 65;
    server_tokens off;
    absolute_redirect off;
    resolver {{ .Resolver }} valid=30s;

    {{ if .RealIPHeader }}real_ip_header {{ .RealIPHeader }};
    {{ else if and (or .ProxyProtocol80 .ProxyProtocol443) .RealIPFrom }}real_ip_header proxy_protocol;
    {{ end }}

    {{ if .RealIPFrom }}real_ip_recursive on;
    {{ range .RealIPFromList }}set_real_ip_from {{ . }};
    {{ end }}{{ end }}

    # Header maps
    map $http_x_forwarded_proto $proxy_x_forwarded_proto {
      default $http_x_forwarded_proto;
      ''      $scheme;
    }
    map $uri $expires {
      default off;
      ~*\.(ico|css|js|gif|jpeg|jpg|png|woff2?|ttf|otf|svg|tiff|eot|webp)$ 97d;
    }

    map $request_uri $loggable {
      /health 0;
      /auth/email 0;
      default 1;
    }
    access_log /dev/stdout combined if=$loggable;

    # compression
    gzip on;
    gzip_static on;
    gzip_types text/plain text/css application/xml application/javascript
    gzip_min_length 1024;
    # TODO: figure out how to server pre-compressed assets from admin container

    {{ if and .Port80 (or (eq .TLSFlavor "letsencrypt") (eq .TLSFlavor "cert")) }}
    # Enable the proxy for certbot if the flavor is letsencrypt and not on kubernetes
    #
    server {
      # Listen over HTTP
      listen 80{{ if .ProxyProtocol80 }} proxy_protocol{{ end }};
{{ if .Subnet6 }}      listen [::]:80{{ if .ProxyProtocol80 }} proxy_protocol{{ end }};
{{ end }}      {{ if eq .TLSFlavor "letsencrypt" }}      location ^~ /.well-known/acme-challenge/testing {
          return 204;
      }
      location ^~ /.well-known/acme-challenge/ {
          proxy_pass http://127.0.0.1:8008;
      }
      {{ end }}      # redirect to https
      location / {
        return 301 https://$host$request_uri;
      }

      location /health {
        return 204;
      }
    }
    {{ end }}

    # Main HTTP server
    server {
      # Favicon stuff
      root /static;
      # Variables for proxifying
      set $backend {{ .BackendAddress }}:8080;
      client_max_body_size {{ .MessageSizeLimitPlus }};
      http2 on;

      # Listen on HTTP only in kubernetes or behind reverse proxy
      {{ if eq .TLSFlavor "off" }}      listen 80{{ if .ProxyProtocol80 }} proxy_protocol{{ end }};
{{ if .Subnet6 }}      listen [::]:80{{ if .ProxyProtocol80 }} proxy_protocol{{ end }};
{{ end }}      {{ end }}

      # Only enable HTTPS if TLS is enabled with no error
      {{ if and .TLS443 (not .TLSError) }}      listen 443 ssl{{ if .ProxyProtocol443 }} proxy_protocol{{ end }};
{{ if .Subnet6 }}      listen [::]:443 ssl{{ if .ProxyProtocol443 }} proxy_protocol{{ end }};
{{ end }}
      include /etc/nginx/tls.conf;
      ssl_session_cache shared:SSLHTTP:3m;
      add_header Strict-Transport-Security 'max-age=31536000';

      if ($proxy_x_forwarded_proto = http) {
        return 301 https://$host$request_uri;
      }
      {{ end }}

      # Remove headers to prevent duplication and information disclosure
      proxy_hide_header X-XSS-Protection;
      proxy_hide_header X-Powered-By;

      add_header X-Frame-Options 'SAMEORIGIN';
      add_header X-Content-Type-Options 'nosniff';
      add_header X-Permitted-Cross-Domain-Policies 'none';
      add_header Referrer-Policy 'same-origin';

      # mozilla autoconfiguration
      location ~ ^/(\.well\-known/autoconfig/)?mail/config\-v1\.1\.xml {
        rewrite ^ /stack/autoconfig/mozilla break;
        include /etc/nginx/proxy.conf;
        proxy_pass http://$backend;
      }
      # microsoft autoconfiguration
      location ~* ^/Autodiscover/Autodiscover.json {
        rewrite ^ /stack/autoconfig/microsoft.json break;
        include /etc/nginx/proxy.conf;
        proxy_pass http://$backend;
      }
      location ~* ^/Autodiscover/Autodiscover.xml {
        rewrite ^ /stack/autoconfig/microsoft break;
        include /etc/nginx/proxy.conf;
        proxy_pass http://$backend;
      }
      # apple mobileconfig
      location ~ ^/(apple\.)?mobileconfig {
        rewrite ^ /stack/autoconfig/apple break;
        include /etc/nginx/proxy.conf;
        proxy_pass http://$backend;
      }

      {{ if eq .TLSFlavor "letsencrypt" }}      location ^~ /.well-known/acme-challenge/testing {
          return 204;
      }
      location ^~ /.well-known/acme-challenge/ {
          proxy_pass http://127.0.0.1:8008;
      }
      {{ end }}

      # If TLS is failing, prevent access to anything except ACME
      {{ if .TLSError }}      location / {
        return 403;
      }
      {{ else }}      include /overrides/*.conf;

      # Actual logic
      location / {
        expires $expires;
        try_files $uri =404;
      }
      {{ end }}

      {{ if .API }}      location /api {
        include /etc/nginx/proxy.conf;
        proxy_pass http://$backend;
      }
      {{ end }}

      location /stack {
        internal;

        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header Authorization $http_authorization;
        proxy_pass_header Authorization;
        proxy_pass http://$backend;
        proxy_pass_request_body off;
        proxy_set_header Content-Length "";
      }
      location /health {
        return 204;
      }
    }

    # Forwarding authentication server
    server {
      # Variables for proxifying
      set $backend {{ .BackendAddress }}:8080;

      listen 127.0.0.1:8000;

      location / {
        proxy_pass http://$backend/stack$request_uri;
      }
    }

    # Healthcheck over localhost, for docker
    server {
      listen 127.0.0.1:10204;
      location /health {
        return 204;
      }
    }

    include /etc/nginx/conf.d/*.conf;
}
